.pytest_cache
__pycache__
*.pyc
*.png
*.json
.idea/*
src/__pycache__
src/simple_graph/__pycache__
src/vtr_utils/__pycache__
*.egg-info
src/vtr3_pyposegraph.egg-info
src/simple_graph/__pycache__/edge.cpython-310.pyc
src/simple_graph/__pycache__/graph_utils.cpython-310.pyc
src/simple_graph/__pycache__/graph_iterators.cpython-310.pyc
.idea/vtr3_python.iml
.idea/misc.xml
src/vtr3_pyposegraph.egg-info/PKG-INFO
src/vtr3_pyposegraph.egg-info/top_level.txt
*.db3
